.quote {
  text-align: center;
  background-color: $color-secondary;
  padding: 12rem 2rem;

  & p {
    font-family: $font-primary;
    font-size: 2.8rem;
    color: #fff;
    margin-bottom: 2rem;
  }
}
